{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
<div class="full-width-container">
        <div class="header__hero" style="background-image: url('{{ asset('images/header-home.jpg') }}');">
            <a href="/"><img src="{{ asset('images/lph-logos.png') }}" alt="Los Pollos Hermanos"></a>
        </div>
        <ul class="header__nav">
            <div class="container">
                <li><a href="/history/">Our History</a></li>
                <li><a href="/culture/">Our Culture &amp; Values</a></li>
                <li><a href="/jobs/">Job Listings</a></li>
                <li><a href="/training/">Training Videos</a></li>
            </div>
        </ul>

    <main>
        {% block body %}{% endblock %}
    </main>

    <footer>
        <p>© 2024 Mi sitio web. Todos los derechos reservados.</p>
    </footer>
</div>
</body>
</html>
